<div class="card">
  <div class="card-block">

    <div class="row">
       <div class="col-sm-9"></div>
        <div class="col-sm-3">
            <button type="submit" 
                (click) = "onBtnRemoveClick()" 
                [disabled] = "enabledOptions"  
                class="btn btn-danger"
                data-placement="top" 
                title="Delete">
                    <i class="fa fa-fw fa-trash"></i>
            </button>
            <button  #btnNewUser  class="btn btn-success" 
                    data-toggle="collapse" 
                    data-target="#collapsePieceNew" 
                    aria-expanded="false" 
                    aria-controls="collapseExample"
                    data-placement="top" 
                    title="New">
                        <i class="fa fa-fw fa-plus"></i>
                </button> 
                                  
        </div>
    </div>

       
       
  </div>
</div>
<div>
<div class="collapse" id="collapsePieceNew">
  <div class="card card-block">
        <mp-user-create></mp-user-create>
  </div>
</div>

<div id="user-table">  
      <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the media column...'
        (keyup)='updateFilter($event)'
      />
      <ngx-datatable
        #table
        class='material'
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="8"
        [selected]="usersSelected"
        [selectionType]="'multi'"
      
        [rows]='rows'>
      </ngx-datatable>
            <ng-template #hdrTpl let-column="column" >
            {{column.name}}
      </ng-template>
      <ng-template #editTmpl let-row="row" let-value="value" let-i="index">
        <select #roleSelect class="form-control" (change)="onSelectedRole(row,roleSelect.value)">
             <option    *ngFor="let item of _roleList; let i = index;" [selected]="item.id == value.id ? true : false" value="{{item.id}}">{{item.name}}</option>  
        </select>

      
      </ng-template>
    </div>
