
<div class="container-fluid">
     <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-muted">Live Mode</h4>
        </div>  
    </div>
    
    
    <div class="panel panel-default mp-list-box">
        <div class="panel-heading">Sketches</div>
        <div class="panel-body">
            <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
            </div>

            <ul class="list-group"> 
                <li class="list-group-item"> <span class="badge">1</span> Clima </li> 
                <li class="list-group-item"> <span class="badge">1</span> Reloj </li> 
                <li class="list-group-item"> <span class="badge">1</span> Mosca </li> 
            </ul>
        </div>
    </div>

    <div class="panel panel-default mp-list-box">
        <div class="panel-heading">Medias</div>
        <div class="panel-body">
            <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
            </div>
            <ul class="list-group"> 
                <li class="list-group-item"> <span class="badge">1</span> Clip1 </li> 
                <li class="list-group-item"> <span class="badge">1</span> Clip2 </li> 
                <li class="list-group-item"> <span class="badge">1</span> Clip3 </li> 
            </ul>
        </div>
    </div>

    <div class="panel panel-default mp-list-box">
        <div class="panel-heading">Playout</div>
        <div class="panel-body">
            <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
            </div>

            <ul class="list-group"> 
                <li class="list-group-item"> <span class="badge">1</span> Clip1 </li> 
                <li class="list-group-item"> <span class="badge">1</span> Clip2</li> 
                <li class="list-group-item"> <span class="badge">1</span> Clip3</li> 
            </ul>
            
        </div>
    </div>

    <div class="panel panel-default mp-video-box">
        
        <div class="panel-body">
            <video width="223" height="200" controls>
                <source src="movie.mp4" type="video/mp4">               
            </video>

             <div class="mp-timer">timer1</div>

             <div class="mp-timer">timer2</div>

             <div class="mp-timer">timer3</div>

             <div class="mp-sketch-preview"></div>


        </div>

       
        
        
    </div>

</div>
