
<div class="container-fluid">
     <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-muted">Live Mode</h4>
        </div>  
    </div>
    
    
    <div class="panel panel-default mp-list-box" dnd-sortable-container [dropZones]="['sketch-zone']" [sortableData]="sketches">

        <div class="panel-heading">Sketches</div>
        <div class="panel-body">
            <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
            </div>

            <ul class="list-group"> 
                <li *ngFor="let item of sketchLst; let i = index" class="list-group-item mp-item-sketch" [dropEnabled]="false" [dragData]="item" dnd-sortable [sortableIndex]="i">
                   
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <a href="#" class="thumbnail">
                                <img src="../../../assets/img/icons/sketchIcon_default.png"class="mp-thumbnail" > 
                            </a>
                           
                        </div>
                         <div class="col-xs-6 col-md-7">
                            <div class="row"> <b>{{item.name}}</b></div>
                   
                            <div class="row"><b><span class="label label-default">tags</span></b></div>                                      
                            <div class="row">
                                <div class="col-xs-6 col-md-6"> </div>
                                <div class="col-xs-6 col-md-6">
                                    <a><span class="glyphicon glyphicon-info-sign"></span></a>
                                        <a><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                                                            
                            </div>
                        </div>
                      
                    </div>
               </li>               
            </ul>
        </div>
    </div>


    <div class="panel panel-default mp-list-box"    
        dnd-sortable-container [sortableData]="mediaLst" [dropZones]="['playoutItem']">
        <div class="panel-heading">Medias</div>
        <div class="panel-body">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control"  placeholder="Search" >
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  
                </span>
            </div>
            <ul class="list-group">
                <li *ngFor="let media of mediaLst; let x = index" class="list-group-item mp-item-media"
                    dnd-sortable [sortableIndex]="x" [dragEnabled]="true"
                    [dragData]="media">

                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <a href="#" class="thumbnail">
                                <img src="../../../assets/img/icons/mediaIcon_default.png"class="mp-thumbnail" > 
                            </a>
                           
                        </div>
                         <div class="col-xs-6 col-md-7">
                            <div class="row"> <b>{{media.name}}</b></div>
                   
                            <div class="row"><b><span class="label label-default">{{media.duration}}</span></b></div>                                      
                            <div class="row">
                                <div class="col-xs-6 col-md-6"> </div>
                                <div class="col-xs-6 col-md-6">
                                    <a (click)="onClickMediaInfo(media)"><span class="glyphicon glyphicon-info-sign"></span></a>
                                    <a><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                                                            
                            </div>
                        </div>
                      
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default mp-list-box" dnd-sortable-container  [sortableData]="playoutLst">
        <div class="panel-heading">Playout list</div>
        <div class="panel-body" dnd-droppable (onDropSuccess)="onPlayoutDrop($event)" [dropZones]="['playoutItem']">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control"  placeholder="Search" >
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  
                </span>
            </div>
            <ul class="list-group">
                <li *ngFor="let item of playoutLst; let x = index;" class="list-group-item mp-item-playout" dnd-sortable 
                [sortableIndex]="x" 
                [dragEnabled]="true" 
                [dragData]="item"
                (onDragStart) = "onDragStartPo(item)"
                (onDragEnd) = "onDragEndPo(item)"> 
                      <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <a href="#" class="thumbnail">
                                <img src="../../../assets/img/icons/playoutIcon_default.png"class="mp-thumbnail" > 
                            </a>
                           
                        </div>
                         <div class="col-xs-6 col-md-7">
                            <div class="row"> <b>{{item.media.name}}</b></div>
                   
                            <div class="row"><b><span class="label label-default">{{item.media.duration}}</span></b></div>                                      
                            <div class="row">
                                <div class="col-xs-6 col-md-6"> </div>
                                <div class="col-xs-6 col-md-6">
                                    <a (click)="onDelPlItem(item, x)"><span class="glyphicon glyphicon-trash"></span></a>
                                    <a (click)="onPlayPlItem(item, x)"><span class="glyphicon glyphicon-play-circle"></span></a>
                                </div>
                                                            
                            </div>
                        </div>
                      
                    </div>
                </li>
            </ul>
        </div>
    </div>
              
    

    <div class="panel panel-default mp-video-box">
        
        <div class="panel-body" >
            <video width="223" height="200" controls>
                <source src="http://localhost:8100/consume/first" >               
            </video>

             <div class="mp-timer">timer1</div>

             <div class="mp-timer">timer2</div>

             <div class="mp-timer">timer3</div>
            <!--  (onDrop)="onSketchesDrop($event)"-->
            <div [innerHTML]="sketchContent | sanitizeHtml" class="mp-sketch-preview" dnd-droppable [dropZones]="['sketch-zone']" (onDropSuccess)="onSketchDrop($event)">
                    
             </div>


        </div>

       
        
        
    </div>
    <popup>
    Add your custom html elements here
</popup>
</div>
