<div class="card">
  <div class="card-block">

    <div class="row">
       <div class="col-sm-10"></div>
        <div class="col-sm-2">
             <button type="submit" (click) = "onBtnRemoveClick()" [disabled] = "enabledOptions"  class="btn btn-danger"><i class="fa fa-fw fa-trash"></i></button>
              <button  #btnAdd class="btn btn-success" [disabled] = "enabledOptions" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-fw fa-plus"></i></button>                        
        </div>
    </div>

       
       
  </div>
</div>
<div>
<div class="collapse" id="collapseExample">
  <div class="card card-block">
    <app-media-creation [media] = "selected[0]" (onPieceSave) = "onPieceSave()" ></app-media-creation>
  </div>
</div>

<div id="media-table">  
      <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the media column...'
        (keyup)='updateFilter($event)'
      />
      <ngx-datatable
        #table
        class='material'
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="8"
        [selected]="selected"
        [selectionType]="'multi'"
        (select)='onSelect($event)'
        [rows]='rows'>
      </ngx-datatable>
    </div>
