<div id="media-table">  
    <div class="row">
    <div class="col-lg-4 col-xs-11">
        <div class="form-group">
              <input
                class="form-control"
                type='text'
                placeholder='Type to filter the media column...'
                (keyup)='updateFilter($event)'
            />
        </div>    
          
    </div>
    <div class="col-lg-8 col-xs-12">
        <div class="form-group">
            <button type="submit" 
                (click) = "onBtnRemoveClick()" 
                [disabled] = "enabledOptions"  
                class="btn btn-danger"
                placement="bottom" ngbTooltip="Remove"
                >
                    <i class="fa fa-fw fa-trash"></i>
            </button>
            <button  #btnNew  class="btn btn-success" 
                    [disabled] = "enabledOptions"
                    placement="bottom" ngbTooltip="New" 
                    (click)="isCollapsedFormNew = !isCollapsedFormNew"
                    [attr.aria-expanded]="!isCollapsedFormNew" aria-controls="collapseFormNew"
                    >
                        <i class="fa fa-fw fa-plus"></i>
                </button> 
            <button  #btnEdit  class="btn btn-success" 
                [disabled] = "enabledOptions" 
                placement="bottom" ngbTooltip="Edit"
                    (click)="isCollapsedFormEdit = !isCollapsedFormEdit"
                [attr.aria-expanded]="!isCollapsedFormEdit" aria-controls="collapseFormEdit"
                >
                    <i class="fa fa-fw fa-pencil-square-o "></i>
            </button>
        </div>                                               
    </div>
</div>
       
<div>
<div id="collapseFormNew" [ngbCollapse]="isCollapsedFormNew">
  <div class="card card-block">
    <app-media-creation [piece] = "selected[0]" (onPieceSave) = "onPieceNew()" ></app-media-creation>
  </div>
</div>
<div id="collapseFormEdit" [ngbCollapse]="isCollapsedFormEdit">
  <div class="card card-block">
    <app-piece-edit [piece] = "selected[0]"  (onPieceSave) = "onPieceEdit()" ></app-piece-edit>
  </div>
</div>

      <ngx-datatable
        #table
        class='material'
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="8"
        [selected]="selected"
        [selectionType]="'multi'"
        (select)='onSelect($event)'
        [rows]='rows'>
      </ngx-datatable>
    </div>
