<form 
    autocomplete="off"
    (ngSubmit)="userForm.form.valid && onSubmit(userForm)" 
    #userForm="ngForm" 
    novalidate>
<div class="row">
    <div class="col-6">
       
            <div [ngClass]="userForm.submitted && !name.valid ? 'form-group row has-danger': 'form-group row'">
                <div  class ="col-lg-2 col-xs-12">
                     <label for="name" >Name</label>
                </div>
               
                <div class="col-lg-10 col-xs-12">
                    <input [ngClass]="userForm.submitted && !name.valid ? 'form-control form-control-danger': 'form-control'" type="text" 
                    required
                    [ngModel]="_user.name" 
                    (ngModelChange)="_user.name = $event"
                    #name= "ngModel" 
                    name="name" 
                    >
                    <div *ngIf="userForm.submitted && !name.valid" class="form-control-feedback">Name is required</div>
                </div>
                
            </div>
            <div [ngClass]="userForm.submitted && !surname.valid ? 'form-group row has-danger': 'form-group row'">
                <div  class ="col-lg-2 col-xs-12">
                    <label for="surname" class ="col-form-label" >Surname</label>
                </div>
                <div class="col-lg-10 col-xs-12">
                    <input [ngClass]="userForm.submitted && !surname.valid ? 'form-control form-control-danger': 'form-control'" type="text" 
                    required
                    [ngModel]="_user.surname" 
                    (ngModelChange)="_user.surname = $event"
                    #surname= "ngModel" 
                    name="surname" 
                    >
                    <div *ngIf="userForm.submitted && !surname.valid" class="form-control-feedback">Surname is required</div>
                </div>
                
            </div>

            <div class="form-group row">
                <label for="rol" class="col-2 col-form-label">Rol</label>
                <div class="col-10">
                     <select  class="form-control" #selectRoles (change)='_selectedRole = selectRoles.value'>
                        <option  *ngFor="let item of _rolesList; let i = index;" [selected]="i == 0 ? true : false" value="{{item.id}}">{{item.name}}</option>  
                    </select>     
                </div>
            </div>
       
    </div>
    <div class="col-6">
        <div [ngClass]="userForm.submitted && !username.valid ? 'form-group row has-danger': 'form-group row'">
            <div  class ="col-lg-2 col-xs-12">
                <label for="username" class ="form-label" >Username</label>
            </div>
                <div class="col-lg-10 col-xs-12">
                    <input [ngClass]="userForm.submitted && !username.valid ? 'form-control form-control-danger': 'form-control'" type="text" 
                    required
                    [ngModel]="_user.username" 
                    (ngModelChange)="_user.username = $event"
                    #username= "ngModel" 
                    name="username" 
                    >
                    <div *ngIf="userForm.submitted && !username.valid" class="form-control-feedback">Username is required</div>
                </div>
                
        </div>
        <div [ngClass]="userForm.submitted && !password.valid ? 'form-group row has-danger': 'form-group row'">
            <div  class ="col-lg-2 col-xs-12">
                <label for="password" class ="col-form-label" >Password</label>
            </div>
                <div class="col-lg-10 col-xs-12">
                    <input [ngClass]="userForm.submitted && !password.valid ? 'form-control form-control-danger': 'form-control'" type="password" 
                    required
                    [ngModel]="_user.password" 
                    (ngModelChange)="_user.password = $event"
                    #password= "ngModel" 
                    name="password" 
                    >
                    <div *ngIf="userForm.submitted && !password.valid" class="form-control-feedback">Password is required</div>
                </div>
                
            </div>
        <div class="form-group row">
            <div class="col-lg-10 col-xs-0"></div>
            <div class="col-lg-2 col-xs-12 pull-right">
                <button type="submit"  class="btn btn-success col-xs-12"><i class="fa fa-fw fa-floppy-o"></i> </button>   
            </div>
            
        </div>
    </div>
  </div>
 </form>
