<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a *ngIf ="viewLivemode" routerLink="/dashboard/livemode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-television"></i> Live mode
        </a>
        <a *ngIf ="viewScheduler" [routerLink]="['scheduler']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i> Scheduler
        </a>
         <a *ngIf ="viewReports" [routerLink]="['reports']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart "></i> Reports
        </a>  
         <a *ngIf ="viewMedias" [routerLink]="['medias']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-film "></i> Medias
        </a>
         <a *ngIf ="viewUsersManager" [routerLink]="['usersmanager']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-film "></i> Admin
        </a>
                  
        
    </ul>
</nav>