<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-8">
                    <h4 class="text-muted">Scheduler</h4>
                </div>
                 <div class="col-sm-2">
                    <button class="btn btn-success" (click)="onClickBtnSwitchmode()">Switch mode</button>                    
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success" (click)="onClickBtnSave()">Save</button>                    
                </div>
                
            </div>

        </div>  
    </div>
        
    <div class="row">
        <div class="col-sm-4">
            <mp-piece-list [isJuiDraggable]="true"></mp-piece-list>
        </div>

        <div class="col-sm-8">
            <div id="calendar"></div>                      
		</div>
            
    </div>
    
    <event-modal (onOccurrenceOp)="onModalOccOp($event)"></event-modal>
    
    <simple-notifications [options]="options"></simple-notifications>
</div>

