<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <h4 class="text-muted">Scheduler</h4>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-success" (click)="onClickBtnSave()">Save</button>                    
                </div>
            </div>

        </div>  
    </div>
        
    <div class="row">
        <div class="col-sm-4">
            <mp-piece-list></mp-piece-list>
        </div>

        <div class="col-sm-8">
            <div id="calendar"></div>                      
		</div>
            
    </div>
    <simple-notifications [options]="options"></simple-notifications>
</div>

