<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-2 col-xs-12"></div>
                <div class="col-lg-10 col-xs-12 ">
                    <div class="pull-right">                           
                        <button class="btn btn-primary btn-sm" (click)="onClickBtnSwitchmode()" placement="bottom" ngbTooltip="Switch programmer mode"><i class="fa fa-exchange"></i></button>  
                        <button class="btn btn-primary btn-sm" (click)="onClickBtnSave()" placement="bottom" ngbTooltip="Save changes"><i class="fa fa-fw fa-floppy-o"></i></button> 
                    </div>
                
                </div>       
            </div>  
        </div>
    </div>
        
    <div class="row">
        <div class="col-sm-4">
            <mp-piece-list [isJuiDraggable]="true"></mp-piece-list>
        </div>

        <div class="col-sm-8">
            <div id="calendar"></div>                      
		</div>
            
    </div>
    
    <event-modal (onOccurrenceOp)="onModalOccOp($event)"></event-modal>
    
    <simple-notifications [options]="options"></simple-notifications>
</div>

