<popup>
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <a href="#" class="thumbnail">
                <img src="../../../assets/img/icons/mediaIcon_default.png" class="mp-thumbnail" > 
            </a>
            
        </div>
            <div class="col-xs-6 col-md-7">
            <div class="row"><label class="form-control">Resolution: {{media.resolution}}</label></div>            
            <div class="row"><label class="form-control">Duration: {{media.duration}}</label></div>            
            <div class="row"><label class="form-control">Tags: - </label></div>            
        </div>
        
    </div>
    <div class="row"><b>Description: </b></div>                                       
    <div class="row">
        <div class="col-xs-6 col-md-6">
           {{media.Description}}
        </div>                       
    </div>
    <!--Aca va foreach para cada keyvalue info-->
    <div class="row"><b>Key: value </b></div>                                       

</popup>