<div class="row">
    <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" value="Gato" id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Filter</label>
            <div class="col-10">
                <select class="form-control">
                    <option selected>Choose...</option>
                    <option value="1">Filter1</option>
                    <option value="2">Filter2</option>
                    <option value="3">Filter3</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Duration</label>
            <div class="col-10">
                <input class="form-control" type="search" value="00:02:00" id="example-search-input" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">Resolution</label>
            <div class="col-10">
                <input class="form-control" type="email" value="800X600" id="example-email-input" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">Frame rate</label>
            <div class="col-10">
                <input class="form-control" type="url" value="60" id="example-url-input" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-tel-input" class="col-2 col-form-label">Frame count</label>
            <div class="col-10">
                <input class="form-control" type="tel" value="60" id="example-tel-input" disabled>
            </div>
        </div>
    </div>
    <div class="col-6">
        <app-media-tag></app-media-tag>
    </div>
  </div>


