<div class="card mp-list-box"    
        dnd-sortable-container [sortableData]="pieceLst" [dropZones]="['playoutItem']">
        <div class="card-header">Pieces</div>
        <div class="card-block">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control"  placeholder="Search" >
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  
                </span>
            </div>
           
                <div class="events-list events-page">

                <section *ngFor="let piece of pieceLst; let x = index" class="event mp-item-media list-group-item draggable"
                    dnd-sortable [sortableIndex]="x" [dragEnabled]="true"
                    [dragData]="piece">
                                     
                        <div class="date">
                                    <strong>Thumb</strong>
                                    <span class="month">Oct</span>
                                    <span class="details"></span>
                        </div>
                         <div class="details">
                                    <h1><a href="#">{{piece.name}}</a></h1>
                                    <span><i class="icon-map-marker"></i>{{piece.duration}} <i class="icon-time"></i>-</span>
                                    
                                    <ul class="rating">
                                        <li class="fill"></li>
                                        <li class="fill"></li>
                                       
                                        <li></li>
                                    </ul>
                                   
                                    <div class="more-link"> 
                                  
                                        <a (click)="onClickMediaInfo(piece)"> <i class="fa fa-fw fa-info"></i></a>
                                        <a> <i class="fa fa-fw fa-plus"></i></a>
                                    </div>

                        </div>
                         

                </section>

        </div>
    </div>
    <!--app-mediainfo></app-mediainfo>-->